@model Administrador_SAR.DBContext.Factors

@{
    ViewBag.Title = "Detalles Factor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="~/vendors/images/photo1.jpg" alt="">
                    </span>
                    @if (Session["UserName"] != null)
                    {
                        <span class="user-name">@Session["UserName"]</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i>Perfil</a>
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Configuraciones</a>
                    <a class="dropdown-item" href="faq.html">@*<i class="dw dw-help"></i> Help*@</a>
                    <a class="dropdown-item" href="/Home/CerrarSesion"><i class="dw dw-logout"></i>Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Factores Información</h1>
        </div>
    </div>
</div>

<div class="card-box mb-30 p-2">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Descripcion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Activo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-dark" })
    </p>
</div>
