@model Administrador_SAR.DBContext.SecurityVisit

@{
    ViewBag.Title = "Detalles visitas de seguridad";
    ViewBag.SubTitle = "Detalles visitas de seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-box mb-30 p-2">
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Descripcion
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Activo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-dark" })
    </p>
</div>

@*Tabla de preguntas*@

<div class="form-group p-2">
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Nuevo registro","Create", "QuestionSecurityVisits", new { id = Model.Id}, new { @class = "btn btn-success w-10 " })
        </div>
    </div>
</div>

<div class="card-box mb-30">
    <div class="pd-20 table-responsive">
        <table class="table table-hover" id="table_reports">
            <thead>
                <tr>
                    <th>
                        Pregunta
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.QuestionSecurityVisit)
                {
                    <tr>
                        <td>@item.Description</td>
                        @if ((bool)@item.IsActive)
                        {
                            <td>Activa</td>
                        }
                        else
                        {
                            <td>Inactiva</td>
                        }

                    <td>@Html.ActionLink("Editar","Edit", "QuestionSecurityVisits", new { id = item.Id }, new { @class = "btn btn-info" }) </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section Scripts
{



    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.7/js/dataTables.autoFill.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_reports').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ items por página",
                    "zeroRecords": "Sin data ",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtrando de un total de  _MAX_ registros)"
                }
            });
        });
    </script>
}

@{
    //Html.RenderAction("QuestionSecurityVisits","Index");
}
