@model IEnumerable<Administrador_SAR.DBContext.Countries>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SubTitle = "Administrar Recursos";
    ViewBag.Title = "Administrar Recursos";
}

<div class="container">
    @*@Html.ActionLink("Categorias", "GetCategoriasController", null, new { @class = "btn btn-danger", @style="padding:50px" })*@
    @Html.ActionLink("Paises", "Index", "Countries", null, new { @class = "btn btn-dark", @style = "padding:50px" })
    @Html.ActionLink("Cargos", "Index", "Positions", null, new { @class = "btn btn-dark", @style = "padding:50px" })
    @Html.ActionLink("Killers", "Index", "Killers", null, new { @class = "btn btn-dark", @style = "padding:50px" })
    @Html.ActionLink("Factores", "Index", "Factors", null, new { @class = "btn btn-dark", @style = "padding:50px" })
    @Html.ActionLink("Visitas de Seguridad", "Index", "SecurityVisits", null, new { @class = "btn btn-dark", @style = "padding:50px" })
</div>
