<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta lang="es" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link href="~/vendors/styles/core.css" rel="stylesheet" />
    <link href="~/vendors/styles/icon-font.min.css" rel="stylesheet" />
    @*<link href="~/vendors/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/vendors/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/vendors/styles/style.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/jquery")
    <style>
        .paginate_button {
            padding: 10px !important;
        }

        a:not([href]) {
            margin-left: 5px;
            background-color: #198754 !important;
            cursor: pointer;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background-color: white !important;
        }

        a .current {
            background-color: white !important;
        }
    </style>
    <title>@ViewBag.Title - SAR </title>
</head>
<body>
    <div class="right-sidebar">
        <div class="sidebar-title">
            <h3 class="weight-600 font-16 text-blue">
                Layout Settings
                <span class="btn-block font-weight-400 font-12">User Interface Settings</span>
            </h3>
            <div class="close-sidebar" data-toggle="right-sidebar-close">
                <i class="icon-copy ion-close-round"></i>
            </div>
        </div>
        <div class="right-sidebar-body customscroll">
            <div class="right-sidebar-body-content">
                <h4 class="weight-600 font-18 pb-10">Header Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a href="javascript:void(0);" class="btn btn-outline-primary header-white active">White</a>
                    <a href="javascript:void(0);" class="btn btn-outline-primary header-dark">Dark</a>
                </div>

                <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-light ">White</a>
                    <a href="javascript:void(0);" class="btn btn-outline-primary sidebar-dark active">Dark</a>
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
                <div class="sidebar-radio-group pb-10 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-1" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-1" checked="">
                        <label class="custom-control-label" for="sidebaricon-1"><i class="fa fa-angle-down"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-2" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-2">
                        <label class="custom-control-label" for="sidebaricon-2"><i class="ion-plus-round"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebaricon-3" name="menu-dropdown-icon" class="custom-control-input" value="icon-style-3">
                        <label class="custom-control-label" for="sidebaricon-3"><i class="fa fa-angle-double-right"></i></label>
                    </div>
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
                <div class="sidebar-radio-group pb-30 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-1" name="menu-list-icon" class="custom-control-input" value="icon-list-style-1" checked="">
                        <label class="custom-control-label" for="sidebariconlist-1"><i class="ion-minus-round"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-2" name="menu-list-icon" class="custom-control-input" value="icon-list-style-2">
                        <label class="custom-control-label" for="sidebariconlist-2"><i class="fa fa-circle-o" aria-hidden="true"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-3" name="menu-list-icon" class="custom-control-input" value="icon-list-style-3">
                        <label class="custom-control-label" for="sidebariconlist-3"><i class="dw dw-check"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-4" name="menu-list-icon" class="custom-control-input" value="icon-list-style-4" checked="">
                        <label class="custom-control-label" for="sidebariconlist-4"><i class="icon-copy dw dw-next-2"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-5" name="menu-list-icon" class="custom-control-input" value="icon-list-style-5">
                        <label class="custom-control-label" for="sidebariconlist-5"><i class="dw dw-fast-forward-1"></i></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="sidebariconlist-6" name="menu-list-icon" class="custom-control-input" value="icon-list-style-6">
                        <label class="custom-control-label" for="sidebariconlist-6"><i class="dw dw-next"></i></label>
                    </div>
                </div>

                <div class="reset-options pt-30 text-center">
                    <button class="btn btn-danger" id="reset-settings">Reset Settings</button>
                </div>
            </div>
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo text-center" style="height:120px">
            <a href="/Home/dashboard">
                <img src="~/vendors/images/rodio3.jpg" alt="">
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
                            <span class="micon dw dw-analytics-4"></span><span class="mtext">Dashboard</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="@Url.Action("dashboard","Home")">Graficas por Obras</a></li>
                        </ul>
                        <ul class="submenu">
                            <li><a href="@Url.Action("dashboardPuestoTrabajo","Home")">Graficas por Puesto de Trabajo</a></li>
                        </ul>
                        <ul class="submenu">
                            <li><a href="@Url.Action("dashboardSituacionesDetectadas","Home")">Graficas por Situaciones Detectadas</a></li>
                        </ul>
                        <ul class="submenu">
                            <li><a href="@Url.Action("dashboardOtrosFactores","Home")">Graficas por Otros Factores</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","WorkPlaces")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-edit-1"></span><span class="mtext">Obras</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Accounts")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-user1"></span><span class="mtext">Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","UserWorkPlaces")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-user1"></span><span class="mtext">Usuarios/Obras</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("adminTables","Home")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-edit-file"></span><span class="mtext"> Admin Recursos </span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","Reports")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-edit-1"></span><span class="mtext">Reportes SAR</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","VisitFlashReports")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-edit-1"></span><span class="mtext">Visitas Flash</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","VisitSecurityReports")" class="dropdown-toggle no-arrow">
                            <span class="micon dw dw-edit-1"></span><span class="mtext">Visitas De Seguridad</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-menu-overlay"></div>
    <div class="main-container">
        <div class="header">
            <div class="header-left">
                <div class="menu-icon dw dw-menu"></div>
                <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
            </div>
            <div class="header-right">
                <div class="user-info-dropdown">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            <span class="user-icon">
                                <img src="~/vendors/images/photo1.jpg" alt="">
                            </span>
                            @if (Session["UserName"] != null)
                            {
                                <span class="user-name">@Session["UserName"]</span>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i>Perfil</a>
                            <a class="dropdown-item" href="/Home/CerrarSesion"><i class="dw dw-logout"></i>Cerrar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h1>@ViewBag.SubTitle</h1>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="footer-wrap pd-20 mt-30 card-box ">
        Administración SAR - Todos los derechos reservados
    </div>

    <!-- js -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>
    @*<script src="~/vendors/scripts/dashboard.js"></script>*@
    @*<script src="~/src/plugins/apexcharts/apexcharts.min.js"></script>*@
    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <!-- buttons for Export datatable -->
    <script src="~/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.print.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.html5.min.js"></script>
    <script src="~/src/plugins/datatables/js/buttons.flash.min.js"></script>
    <script src="~/src/plugins/datatables/js/pdfmake.min.js"></script>
    <script src="~/src/plugins/datatables/js/vfs_fonts.js"></script>

    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.11.3/af-2.3.7/b-2.1.1/b-colvis-2.1.1/b-html5-2.1.1/r-2.2.9/sc-2.0.5/datatables.min.js"></script>*@
    @*highchar*@
    <script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

