@model Administrador_SAR.DBContext.Reports

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorrectiveComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorrectiveComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accounts.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accounts.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categories.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categories.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Factors.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Factors.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Killers.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Killers.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situations.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situations.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusReports.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusReports.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlaces.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlaces.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
