@model IEnumerable<Administrador_SAR.Models.WorkPlace.WorkPlaceResponseViewModel>

@{
    ViewBag.Title = "Obras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header">
    <div class="header-left">
        <div class="menu-icon dw dw-menu"></div>
        <div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>
    </div>
    <div class="header-right">
        <div class="user-info-dropdown">
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span class="user-icon">
                        <img src="~/vendors/images/photo1.jpg" alt="">
                    </span>
                    @if (Session["UserName"] != null)
                    {
                        <span class="user-name">@Session["UserName"]</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-user1"></i>Perfil</a>
                    <a class="dropdown-item" href="profile.html"><i class="dw dw-settings2"></i> Configuraciones</a>
                    <a class="dropdown-item" href="faq.html">@*<i class="dw dw-help"></i> Help*@</a>
                    <a class="dropdown-item" href="login.html"><i class="dw dw-logout"></i>Cerrar Sesión</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <h1>Administración de Obras</h1>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Nueva Obra", "Create", null, new { @class = "btn btn-success" })
</p>

<div class="card-box mb-30">
    <div class="pd-20 table-responsive">
        <table class="table table-hover" id="table_reports">
            <thead>
                <tr>
                    <th> Acciones </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th style="max-width:150px">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="active">
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.WorkPlaceId }, new { @class = " btn btn-warning  w-100" })
                            @Html.ActionLink("Ver más", "Details", new { id = item.WorkPlaceId }, new { @class = " btn btn-info  w-100" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td style="max-width:150px">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts
{



    <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/autofill/2.3.7/js/dataTables.autoFill.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/2.1.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/scroller/2.0.5/js/dataTables.scroller.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_reports').DataTable({
                "language": {
                    "lengthMenu": "Mostrar _MENU_ items por página",
                    "zeroRecords": "Sin data ",
                    "info": "Mostrando pagina _PAGE_ de _PAGES_",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtrando de un total de  _MAX_ registros)"
                }
            });
        });
    </script>
}
