@model IEnumerable<Administrador_SAR.Models.VisitFlash.VisitFlashViewModelResponse>

@{
    ViewBag.Title = "Index";
    ViewBag.SubTitle = "Administración de Reportes Flash";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @*@Html.ActionLink("Crear Nuevo Reporte", "Create", null, new { @class = "btn btn-success" })*@
</p>
<div class="card-box mb-30">
    <div class="page-header">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <label for="CountryId">Seleccione un país</label>
                @Html.DropDownList("CountryId", null, "Seleccione un país", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
            </div>
            <div class="col-md-3 col-sm-12">
                <label for="CountryId">Seleccione una obra</label>
                @Html.DropDownList("WorkPlace", new List<SelectListItem>(), "Seleccionar Obra", htmlAttributes: new { @class = "form-control", @style = "text-transform: uppercase;" })
            </div>

            <div class="col-md-3 col-sm-12">
                <label for="startDate">Desde</label>
                <input type="date" class="form-control" name="startDate" id="startDate" value="" />
            </div>
            <div class="col-md-3 col-sm-12">
                <label for="endDate">Hasta</label>
                <input type="date" class="form-control" name="endDate" id="endDate" value="" />
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 p-2">
                <input type="button" value="Aplicar Filtros" class="btn btn-primary" id="buttonfilter" />
            </div>
        </div>
    </div>
    <div class="pd-30 table-responsive">
        <table class="table table-striped " id="table_reports">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkPlace)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Bu)
                    </th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th> Acciones </th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkPlace)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Bu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-info w-100" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<style>
    .w-100 {
        width: 100px !important;
    }
</style>

@section Scripts
{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script>
        $(document).ready(function () {
            let date = new Date()

            let day = date.getDate()
            let month = date.getMonth() + 1
            let year = date.getFullYear()

            if (month < 10) {
                $('input[name="startDate"]').val(`${year}-0${month}-${day}`);
                $('input[name="endDate"]').val(`${year}-0${month}-${day}`);
            } else {
                $('input[name="startDate"]').val(`${year}-${month}-${day}`);
                $('input[name="endDate"]').val(`${year}-${month}-${day}`);
            }

            $("#CountryId").change(function () {
                $.get("/VisitFlashReports/GetWorkPlacesByCountry", { id: $("#CountryId").val()}, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#WorkPlace").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#WorkPlace").append("<option value> -- Seleccionar Obra de " + $("#CountryId option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#WorkPlace").append("<option value='" + row.WorkPlaceId + "'>" + row.Name + "</option>")
                    });
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#buttonfilter").click(function () {
                $.get("/VisitFlashReports/GetReports", { workPlaceId: $("#WorkPlace").val(), startDate: $("#startDate").val(), endDate: $("#endDate").val()  }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#tableBody").empty();
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#tableBody").append("<tr><td>" + row.WorkPlace + "</td><td>" + row.CreatedDate + "</td><td>" + row.Bu + "</td><td>" + row.Name + "</td><td>" + row.Gender + "</td><td><a class='btn btn-warning w-100' href='/VisitFlashReports/Edit/" + row.Id + "'>Editar<//a><a class='btn btn-info w-100' href='/VisitFlashReports/Details/" + row.Id + "'>Detalles<//a>" + "</td></tr>")
                    });
                });
            });
        });
    </script>
    }
