@model Administrador_SAR.DBContext.VisitSecurityReport

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Detalle de vista Seguridad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1>Información de Reporte Flash  @Html.ActionLink("Generar PDF", "CreatePDF", new { id = Model.Id }, new { @class = "btn btn-info" })</h1>
        </div>
    </div>
</div>
<div>
    <dl class="dl-horizontal">
        <dt>
            Fecha de Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            Hora de Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedTime)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accounts.FirstName)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityVisit.Description)
        </dd>

        <dt>
            Centro de trabajo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlaces.Name)
        </dd>

    </dl>
</div>

<div class="card-box mb-30 mt-3 p-3">
    <h4>Respuestas</h4>
    @{
        int count = 1;
        foreach (var item in Model.SecurityVisitQuestionsReport)
        {

            <div class="form-group">
                <label class="label-info p-2">@count-@item.Description</label>
                <h6>Comentario</h6>
                <p> @item.Comment</p>
            </div>
            count = count + 1;
        }
    }
    <p>
        @Html.ActionLink("Volver", "Index", null, new { @class = " btn btn-dark" })
    </p>
</div>

